In [1]:
# Step 1: Import libraries
import pandas as pd
import numpy as np

# Step 2: Define regions and years
regions = ["Texas", "Louisiana", "Alabama", "Florida", "Georgia", "South Carolina"]
years = list(range(2018, 2026))

# Step 3: Generate synthetic data
data = []
np.random.seed(42)

for year in years:
    for region in regions:
        total_sales = np.random.uniform(20_000_000, 200_000_000)  # Sales in USD
        profit_margin = np.random.uniform(5, 25)  # Profit margin in %
        avg_age = np.random.uniform(30, 55)  # Customer avg age
        median_income = np.random.uniform(40_000, 85_000)  # Median household income
        percent_frequent = np.random.uniform(10, 40)  # % frequent buyers

        data.append({
            "Year": year,
            "Region": region,
            "Total_Sales_USD": round(total_sales, 2),
            "Profit_Margin_pct": round(profit_margin, 2),
            "Avg_Age": round(avg_age, 1),
            "Median_Income": round(median_income, 0),
            "Percent_Frequent_Buyers": round(percent_frequent, 1)
        })

# Step 4: Build DataFrame
bb_df = pd.DataFrame(data)

# Step 5: Save to CSV
csv_file_path = "blue_bell_sales_demographics.csv"
bb_df.to_csv(csv_file_path, index=False)

# Step 6 (optional): Display sample
bb_df.head(10)

,Year,Region,Total_Sales_USD,Profit_Margin_pct,Avg_Age,Median_Income,Percent_Frequent_Buyers
0,2018,Texas,8.741722e+07,24.01,48.3,66940.0,14.7
1,2018,Louisiana,4.807901e+07,6.16,51.7,67050.0,31.2
2,2018,Alabama,2.370521e+07,24.40,50.8,49555.0,15.5
3,2018,Florida,5.301281e+07,11.08,43.1,59438.0,18.7
4,2018,Georgia,1.301335e+08,7.79,37.3,56486.0,23.7
5,2018,South Carolina,1.613317e+08,8.99,42.9,66659.0,11.4
6,2019,Texas,1.293581e+08,8.41,31.6,82700.0,39.0
7,2019,Louisiana,1.655115e+08,11.09,32.4,70790.0,23.2
8,2019,Alabama,4.196688e+07,14.90,30.9,80919.0,17.8
9,2019,Florida,1.392540e+08,11.23,43.0,64602.0,15.5